[submodule "data/elam_physical_reference"]
	path = data/elam_physical_reference
	url = git://github.com/praxes/elam_physical_reference.git
[submodule "SpecClient"]
	path = SpecClient
	url = git://git.epn-campus.eu/repositories/SpecClient.git
