include external/specfile/src/*
include external/specfile/include/*
include external/SpecClient/*
include xpaxs/instrumentation/spec/ui/resources/*
include xpaxs/frontends/base/ui/resources/icons/*
include xpaxs/frontends/base/ui/resources/cursors/*
